# Coverage config file. -*- conf -*-

[run]
omit =
     # Don't include anything inside the virtual environment.
     */.venv/*
     */virtualenvs/*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    def __rich__

[html]
directory = .coverage_report

### .coveragerc ends here
