[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
pylint = "*"
mypy = "*"
coverage = "*"
typing-extensions = "*"
twine = "*"
mkdocs = "*"
mkdocs-autorefs = "*"
mkdocstrings = {extras = ["python"], version = "*"}
mkdocs-material = "*"
pre-commit = "*"
black = "*"
build = "*"

[requires]
python_version = "3.10"
