[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
pylint = "*"
mypy = "*"
coverage = "*"
python-language-server = "*"

[requires]
python_version = "3.8"
